.round-button{
    border-radius: 100px;
   
    font-size: 16px;

}

.img-01{
    
    width: 164px;
    height: auto;
}

.but-align{
    padding-left: 5px;
}

.img-03{
    background-image: url("public/images/img-03.jpg");
    background-repeat : no-repeat;
}