.tnc_headers{
    font-size: 35px;
    padding-bottom: 5px;
}

.tnc_headers2{
    font-size: 30px;
    padding-bottom: 5px;
}

.tnc_para{
    font-size: 16px;
}

.tnc_subheaders{
    font-size: 20px;
}